<a href="https://colab.research.google.com/github/Praveenkumarsv/Praveen/blob/main/AP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 Fruits=["banana","mango","orange","guava","Pineapple"]
Fruits.append("apple")
Fruits.remove("orange")
Fruits.sort()
print(Fruits)

['Pineapple', 'apple', 'banana', 'guava', 'mango']

In [ ]:
#tuple
fruits=("banana","mango","orange","guava","Pineapple")
student=[("kavhein","maths","85"),("aravindh","maths","90")]

print(fruits)
print(student)

('banana', 'mango', 'orange', 'guava', 'Pineapple')
[('kavhein', 'maths', '85'), ('aravindh', 'maths', '90')]

In [ ]:
#set
fruits={"banana","mango","orange","guava","Pineapple"}
 print(fruits)

IndentationError: ignored

In [ ]:
#dictionaries
student={"name":"praveen","subject":"maths","marks":"100"}
print(student)

{'name': 'praveen', 'subject': 'maths', 'marks': '100'}

In [ ]:
#students,dictionaries
student=[{"name":"praveen","subject":"math"},{"name":"pranav","subject":"science"},{"name":"praveen","subject":"social}]
for i in students:
  K=0
  a=students[k]['name']
  if(a==  )

SyntaxError: ignored

In [ ]:
a=int(input("enter first number"))
b=int(input("enter second number"))
a=int(20)
b=int(30)
print(a+b)
print(a-b)
print(a*b)
print(a%b)

enter first number20
enter second number30
50
-10
600
20

In [ ]:
a=float(input("Enter a number not an variable or operation:"))#1
b=float(input("Enter a number not a variable or operation again:"))#2
c=str(input("now you can enter a operation but no variable or number:"))#3
if (c=='+'):                       #4
   print("waaaw The awesome answer is ",a+b)   #5
elif (c=='-'):                                 #6
   print("Aumsum.the result is ",a-b)     #7
elif (c=='*'):                    #8
   print("oh my gawd!!! waaww! the answer is ",a*b)  #9
elif (c=='/'):                  #10
   print("Finito!Answer is:",a/b)     #11
else:
   print("Please type +,-,or/operation") #13

In [ ]:
#an=a1+(n-1)d
a1=int (input('enter a1'))
d=int (input('enter d'))
n=int (input('enter n'))
b=int (input('enter b'))

a = a1 + (n-1)*d
print("an")